*{
    text-decoration: none;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 100;
}

.header-contenido{
    width: 100%;
    height: 100%;
}
.header-contenido-imagen{
    width: 100%;
}
.header-contenido-barraNavegacion{
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 3px solid #19481c;   
    display: flex;
    justify-content: center;
}
.header-contenido-barraNavegacion-nav{
    width: 90%;
}
.header-contenido-barra-botones{
    padding-inline: 5%;
    font-family:sans-serif;
    font-weight: bold;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    color:#19481c;
}
.header-contenido-barra-botones:hover{
    background-color: #3ddd6262;
}



.main-contenido{
    width: 100%;
    height: 100%;
}
.titulo-main-diseno2D{
    margin: 0px;
    font-size: 40px;
    font-family:sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;

    color: #19481c;
}
.texto-main-diseno2D{
    margin: 0px;
    font-size: 20px;
    padding-inline: 10%;
    font-family:sans-serif;
    font-weight:bolder;
    text-align: center;
    color: #000000;
}
.img-disenos2D{
    width: 70%;
    height: 50%;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.contenedormaestro-diseno2D{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor-disenos2D{
    width: 70%;
    border: 20px solid #19481c;
    border-radius: 50px; 
    padding: 20px;
}
.texto-diseno2D{
    text-align: right;
    margin: 0px;
    font-size: 20px;
    font-family:sans-serif;
    font-weight:bolder;
    color: #000000;
}
.contenedor-programas{
    width: 100%;
    margin-bottom: 40px;
}
.imagenes-iconos{
    width: 10%;
    padding: 20PX;
}



.footer-contenido{
    background-color: #19481c;
}
.contenedor-medio-footer{
    width: 40%;
    padding: 20px;
}
.footer-menor{
    display: flex;
    width: 10%;
}
.footer-element{
    padding: 20%;
    color: white;
}


@media(min-width:480px){

    .header-contenido-barraNavegacion-nav{
        width: 100%;
    }
    .header-contenido-barra-botones{
        font-size: 12px;
    }


    .titulo-main-diseno2D{
        font-size: 20px;
    }
    .texto-main-diseno2D{
        font-size: 12px;
        padding-inline: 5%;
    }
    .contenedor-disenos2D{
        border: 5px solid #19481c;
        border-radius: 20px; 
    }
    .texto-diseno2D{
        font-size: 12px;
    }
    .imagenes-iconos{
        padding: 5PX;
    }

    .footer-menor{
        width: 10%;
    }
    .footer-element{
        padding: 15%;
        font-size: 11px;
    }
}

@media(min-width:768px){
    .header-contenido-barraNavegacion-nav{
        width: 90%;
    }
    .header-contenido-barra-botones{
        font-size: 18px;
    }


    .titulo-main-diseno2D{
        font-size: 30px;
    }
    .texto-main-diseno2D{
        font-size: 20px;
        padding-inline: 5%;
    }
    .contenedor-disenos2D{
        border: 10px solid #19481c;
        border-radius: 30px; 
    }
    .texto-diseno2D{
        font-size: 20px;
    }
    .imagenes-iconos{
        padding: 10PX;
    }


    .footer-menor{
        width: 10%;
    }
    .footer-element{
        padding: 15%;
        font-size: 15px;
    }
}

@media(min-width:1024px){
    .header-contenido-barraNavegacion-nav{
        width: 90%;
    }
    .header-contenido-barra-botones{
        font-size: 25px;
    }



    .titulo-main-diseno2D{
        font-size: 50px;
    }
    .texto-main-diseno2D{
        font-size: 20px;
        padding-inline: 10%;
    }
    .contenedor-disenos2D{
        border: 20px solid #19481c;
        border-radius: 50px; 
    }
    .texto-diseno2D{
        font-size: 20px;
    }
    .imagenes-iconos{
        padding: 20PX;
    }

    .footer-menor{
        width: 10%;
    }
    .footer-element{
        padding: 20%;
        font-size: 20px;
    }

}
